html{
  font-family: 'Ubuntu', sans-serif;
}

html, body{
  position: relative;
}

.ui.menu{
  height: 6em;
  margin: 5em;
  position: relative;
  top: 30px !important;
}

.item{
  margin: 20px;
}

.arrange{
  float: left !important;
}

.ui.inverted.vertical.footer{
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  clear: both;
  margin-top: 2em;
}

.ui.form{
  top: 8em;
  width: 70% !important;
  left: 22em;
  padding: 40px;
}


.main{
  text-align: center;
  padding: 10px;
}

.first{
  width: 50%;
  padding: 5px;
  float: left;
  text-align: left;
}

.second{
  float: right;
  text-align: left;
  padding: 5px;
  width: 50%;
}

.side{
  clear: both;
}

.svg{
  display: inline-block;
  position: relative;
  top: 8em;
  display: table;
  margin: 0 auto;
  width: 85%;
  vertical-align: top;
  overflow: hidden;
}

#err{
  position: relative;
  top: 15%;
  width: 80%;
  display: table;
  margin: 0 auto;
  text-align: center;
}
