div.ui.grid{
    position: absolute;
    display: inline-flex;
    min-width: 100%;
}

div.first{
    top: 15%;
}

button.ui.compact.icon.basic.button{
    float: right;
}

div.second{
    top: 25%;
    height: 100%;
}

i.caret.down.icon{
    position: absolute;
}

div.fourteen.wide.column, div.owl-nav{
    margin: 0 auto;
}

div#drop{
    position: absolute;
    width: 90%;
    margin: 0 auto;
    top: 25%;
    left: 5%;
}

.container.center{
    display: inline-flex;
    margin-top: 3%;
    margin-left: 30%;
}

div.container.center > div.ui.card, .ui.card{
    height: 60%;
}

div.container.center > div.ui.card{
    right: 8%;
}

div.ui.card{
    right: 10%;
}

div.item{
    display: inline-flex;
    flex-direction: row-reverse;
}

div.owl-carousel, div.owl-stage-outer, div.owl-nav{
    position: absolute !important;
}

div.owl-carousel, div.owl-stage-outer{
    margin-left: 5%;
}

div.owl-dots{
    position: relative;
    top: 20em;
}

div.owl-carousel, div.owl-item{
    left: 0.5%;
}

div.owl-nav{
    top: 15em;
    width: 90%;
}

button.owl-prev{
    float: left;
}

button.ui.icon.button, button.owl-next{
    float: right;
}

button.ui.icon.button{
    position: relative;
    top: -5px;
}

canvas{
    padding: 0;
    margin: auto;
    display: block;
}

p{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.cloud.download.icon{
    left: 10%;
}