{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/plot.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<div class="ui grid first">
  <div class="fourteen wide column">
    <div class="ui huge positive message">
        <div class="header">
            Analysis was completed successfully
        </div>
        <p>Job Number: <b> {{number}}. </b> This can be used for future references.</p>
        <a target="_blank" href="{{url_for('phyloTree', job_number = number)}}">Continue for Phylogenetic Analysis</a>
    </div>
  </div>
</div>
<div class="ui grid second">
  <div class="fourteen wide column">
    <div class="container center">
      <canvas id="canvas" width="700" height="400"></canvas>
      <div class="ui card">
        <div class="content">
          <div class="header" id="name">Organism Name: </div>
          <div class="meta">Accession Number: </div>
          <div class="description" id="main">Click to see Gene info.</div>
        </div>
      </div>
    </div>
    <div class="owl-carousel owl-theme" id="map"></div>
  </div>
</div>
<script type="text/javascript">
  var gene = {{ gene | tojson}}
  //var parsed = JSON.parse(gene);
  window.addEventListener('load', function(){
    plotGenome(gene), false})
</script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/Scribl/Scribl.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/PlotGenome.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/form.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/carousel.js')}}" defer></script>
{% endblock %}

