{% extends 'layout.html' %}

{% block content %}
<div class="ui grid">
        <div class="fourteen wide column">
            <form action="" class="ui form">
                {% for genes in pathway %}
                    {% for gene in genes %}
                    <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>{{1}}</label>
                    </div>
                    {% endfor %}
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}